<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] MiniJiraWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MiniJiraWeb.styles.css" asp-append-version="true" />

    @RenderSection("Styles", required: false)
</head>
<body>
        <header>
            <nav class="navbar navbar-expand-sm navbar-light bg-light border-bottom shadow-sm fixed-top">
                <div class="container-fluid">
                    <a class="navbar-brand fw-bold" asp-area="" asp-controller="Home" asp-action="Index">MiniJiraWeb</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                            
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        </ul>

                        <!-- Проверка, авторизован ли пользователь -->
                        <ul class="navbar-nav ms-auto">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item d-flex align-items-center">
                                    <p class="mb-0 me-2">Hello, @User.Identity.Name</p>
                                    <form asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
                                        <button type="submit" class="btn btn-outline-danger">Выйти</button>
                                    </form>
                                </li>
                            <li>
                                <form asp-controller="Project" method="post" class="d-inline">
                                    <button type="submit" class="btn btn-outline-blue">Мои проекты</button>
                                </form>
                            </li>
                            <style>
                                .btn-outline-blue {
                                    color: #258cfb; 
                                    border: 2px solid #258cfb; 
                                    background-color: transparent; 
                                    transition: background-color 0.3s, color 0.3s; 
                                }
                                .btn-outline-blue:hover {
                                    background-color: #258cfb; 
                                    color: white;
                                }
                            </style>
                            }
                            else
                            {
                                <li>
                                    <p class="mb-0 me-2">Hello, Guest</p>
                                </li>
                                <li class="nav-item">
                                    <a class="btn btn-outline-primary" href="/Account/Registration">Регистрация</a>
                                </li>
                                <li class="nav-item ms-2">
                                    <a class="btn btn-outline-secondary" href="/Account/Login">Войти</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>
        </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
